/* Main styling */
button {
    border-radius: 3px;
    box-shadow: 2px 2px 5px gray;
    font-size: large;
    margin: 5px;
    padding: 2px;
    width: 4.75em;
}

button:not(.off):active {
    box-shadow: none;
}

#compressInfo {
    margin-top: 0;
}

div.centerCol {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
}

div.centerRow {
    display: flex;
    justify-content: center;
}

h2 {
    margin-left: 15%;
}

#link {
    word-break: break-all;
}

#linkDesc {
    margin-bottom: 0px;
}

p {
    text-align: center;
}

#pause {
    background-image: radial-gradient(circle farthest-side at center, hwb(33 5% 0%) 0% 50%, hwb(33 0% 0%) 100%);
    border: 3px #c67a00 outset;
}

#pause.off {
    background-image: none;
    background-color: hwb(33 0% 10%);
}

#pause:not(.off):active {
    border: 3px #c67a00 inset;
}

#reset {
    background-image: radial-gradient(circle farthest-side at center, hwb(0 13% 29%) 0% 50%, hwb(0 8% 29%) 100%);
    border: 3px maroon outset;
    color: white;
}

#reset:active {
    border: 3px maroon inset;
}

#run {
    background-image: radial-gradient(circle farthest-side at center, hwb(120 30% 20%) 0% 50%, hwb(120 20% 20%) 100%);
    border: 3px green outset;
}

#run.off {
    background-image: none;
    background-color: hwb(120 20% 30%);
}

#run:not(.off):active {
    border: 3px green inset;
}

#speed {
    background-image: radial-gradient(circle farthest-side at center, hwb(225 5% 0%) 0% 50%, hwb(225 0% 0%) 100%);
    border: 3px navy outset;
    color: white;
}

#speed.off {
    background-image: none;
    background-color: hwb(225 0% 10%);
}

#speed:not(.off):active {
    border: 3px navy inset;
}

/* 
  Make the textarea fancy, based on Anthony Morphett's Turing machine simulator
  https://morphett.info/turing/turing.html
  (Hopefully he doesn't mind)
*/

#sourceContainer {
    display: flex;
    height: min-content;
    flex-flow: row;
}

textarea {
    background-color: transparent;
    border: 5px maroon solid;
    font-family: monospace;
    font-size: 15px;
    height: 200px;
    line-height: 17px;
    width: 15em;
}

#lineBackgroundContainer, #linesContainer {
    overflow: hidden;
    width: fit-content;
}

#lineBackgrounds,
#lineNumbers {
    display: flex;
    flex-direction: column;
}

#lineBackgroundContainer {
    position: absolute;
    z-index: -1;
    transform: translate(5px, 5px);
}

#lineBackgrounds>div {
    background-color: white;
    width: inherit;
    height: 17px;
}

#lineBackgrounds>div.odd {
    background-color: #eee;
}

#lineBackgrounds>div.current {
    background-color: lightblue;
}

#lineBackgrounds>div.error {
    background-color: #ffe0e0;
}

#linesContainer {
    transform: translate(0px, 5px);
}

#lineNumbers>div {
    background-color: lightgray;
    color: #410d0d;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    height: 17px;
    padding: 0px 5px;
    text-align: center;
    width: 40px;
}

#lineNumbers>div.red {
    background-image: linear-gradient(45deg, transparent 0% 82.5%, red 82.5% 100%), linear-gradient(135deg, transparent 0% 82.5%, red 82.5% 100%);
}

#lineNumbers>div.orange {
    background-image: linear-gradient(45deg, transparent 0% 82.5%, orange 82.5% 100%), linear-gradient(135deg, transparent 0% 82.5%, orange 82.5% 100%);

}

#lineNumbers>div.yellow {
    background-image: linear-gradient(45deg, transparent 0% 82.5%, yellow 82.5% 100%), linear-gradient(135deg, transparent 0% 82.5%, yellow 82.5% 100%);

}

#lineNumbers>div.green {
    background-image: linear-gradient(45deg, transparent 0% 82.5%, lime 82.5% 100%), linear-gradient(135deg, transparent 0% 82.5%, lime 82.5% 100%);

}

#lineNumbers>div.blue {
    background-image: linear-gradient(45deg, transparent 0% 82.5%, blue 82.5% 100%), linear-gradient(135deg, transparent 0% 82.5%, blue 82.5% 100%);
}

#lineNumbers>div.purple {
    background-image: linear-gradient(45deg, transparent 0% 82.5%, purple 82.5% 100%), linear-gradient(135deg, transparent 0% 82.5%, purple 82.5% 100%);
}

#lineNumbers>div.error {
    background-color: maroon;
    color: white;
}

/* Memory */
#memoryContainer {
    width: 100%;
    overflow-x: auto;
}

#memoryBox {
    display: grid;
    width: max-content;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
}

#memoryBox>div{
    text-align: center;
    min-width: 60px;
    padding: 0px 3px;
}

#memoryBox>div>div {
    font-size: large;
    font-weight: bold;
}

#memoryBox>div>div.long {
    font-size: medium;
}

#memoryBox>div>div.longer {
    /* That's huge! */
    font-size: small;
}

#memoryBox>div {
    background-color: hwb(196 68% 10%);
}

#memoryBox>div.odd {
    background-color: hwb(195 58% 20%);
}

#memoryBox>div.space {
    background-color: hwb(240 45% 20%);
    color: white;
    font-size: large;
    font-weight: bold;
}

/* Info & Errors */
#info>span {
    border: 3px blue solid;   
    font-size: large;
}

#info>span.error {
    color: red;
    font-weight: bold;
}